{
	"presets": [
		"@babel/preset-react",
		"@babel/preset-typescript",
		[
			"@babel/preset-env",
			{
				"corejs": {
					"version": 3
				}
			}
		]
	],
	"plugins": [
		"babel-plugin-react-compiler",
		"add-react-displayname"
	]
}
